{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Tasks List</h1>

<a href="{% url 'tasks:task-create' %}">Create Task</a>

<ul>
    {% for task in tasks %}
    <li>
        {{ task.title }}
        
        {% if task.completed %}
        <span> ✔ </span>
        {% else %}
        <span> ✘ </span>
        {% endif %}

        <a href="{% url 'tasks:task-update' pk=task.pk %}">[edit]</a>
        <a href="{% url 'tasks:task-delete' pk=task.pk %}">[delete]</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}